.nav-bar-items {
    display: flex; 
    justify-content: space-around; 
    grid-gap: 50%; 
    grid-template-columns: 100%; 
}

.section {
    margin-top: 50px; 
    padding: 0; 
    display: grid; 
    grid-gap: 10px; 
    grid-template-columns: 10% 1fr 1fr 10%; 
    grid-template-rows: 1fr; 
}

.sec-1 {
    grid-column: 2; 
}

.section h2 {
    grid-column: 2;  
}

.section p {
    grid-column: 2; 
}

.section button {
    grid-column: 2; 
}

.section img {
    grid-column: 3; 
    grid-row: 1 / 5; 
}

.sec-1 button {
    background-color: #00A3FA; 
}

.sec-2 {
    grid-column: 2; 
}

.sec-2 h2 {
    padding: 100px 0px 100px 0px; 
}

h2 {
    font-size: 30px; 
    color: #0388A6; 
}


.btn-login {
    border-radius: 20px; 
}  

.grd-awards {
    margin: 50px 0px 0px 0px; 
    display: grid; 
    grid-template-columns: 12% 1fr 1fr 1fr 1fr 12%;
    grid-gap: 2%;  
}
 
.grd-awards img {
    width: 75%; 
    /* padding: 25px;  */
    align-self: center;
}

.grd-awards .t-crunch {
    grid-column: 2; 
}