/* NAVBAR  */
.nav-bar-items {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding: 10px; 
    /* margin-top: 30px;  */
    background-color: #0388A6; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1;
}

.nav-bar-items img {
    width: 25%; 
}

.btn-login {
    border: 1.5px solid #E9E9E9; 
    background-color: white;
    width: 100px; 
    height: 25px;
    border-radius: 20px; 
}  

@media (min-width: 50em) {
    .nav-bar-items img {
        width: 10%; 
    }

    .btn-login {
        border: 1.5px solid #E9E9E9; 
        background-color: white;
        width: 140px; 
        height: 30px;
        border-radius: 20px;   
    }
}

/* SECTION 1 */
.section-1 {
    margin: 75px 10% 0px 10%; 
    padding: 0; 
    display: grid; 
    grid-template-columns:  1fr; 
    grid-auto-rows: minmax(1fr, auto); 
}

.section-1 h2 {
    grid-column: 1; 
    font-size: normal; 
    font-weight: 500; 
} 

.section-1 p {
    grid-column: 1; 
}

.section-1 button {
    grid-column: 1;   
    background-color: #00A3FA;
    border: none;
    color: white;
    padding: 10px 32px 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 24px 40px 0px 40px;
    /* margin: 24px 250px 12px 0px; */
    cursor: pointer;
    border-radius: 20px; 
}
.small-txt {
    text-align: center; 
    margin: 5px 0px 0px 0px;
    font-size: 14px; 
}

.small-txt-2 {
    text-align: center; 
    font-size: 14px; 
}

.sec-1-p {
    /* text-align: center;  */
    margin: 24px 80px 0px 0px;
    font-size: 18px; 
}

.section-1 img {
    width: 0%; 
}

.grd-awards {
    margin: 50px 5% 0px 5%; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 2%;  
    grid-column-gap: 5%; 
}
.grd-awards .t-crunch {
    grid-column: 1; 
}

.grd-awards img {
    width: 100%; 
    /* padding: 25px;  */
    align-self: center;
}

@media (min-width: 50em) {
    .section-1 {
        margin: 250px 18% 0% 18%; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
    }
    .section-1 h2 {
        font-size: 4vw; 
        grid-column: 1; 
        font-weight: 500; 
    }
    .section-1 p {
        grid-column: 1; 
    }
    .section-1 img {
        width: 100%; 
        grid-column: 2; 
        grid-row: 1 / 5; 
    }
    .section-1 button {
        grid-column: 1;   
        background-color: #00A3FA;
        border: none;
        color: white;
        padding: 10px 32px 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 24px 175px 12px 0px;
        cursor: pointer;
        border-radius: 20px; 
    }
    .small-txt {
        text-align: center; 
        margin: 0px 175px 0px 0px;
        font-size: 14px; 
    }
    
    .grd-awards {
        margin: 190px 30% 0% 30%; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}
/* SECTION-2 */

.section-2 {
    margin: 100px 10% 0 10%; 
    padding: 0; 
    display: grid; 
    grid-gap: 10px; 
    grid-template-columns: 1fr; 
    /* grid-template-rows: 1fr;  */
    grid-auto-rows: minmax(1fr, auto); 
}
.section-2 h2 {
    grid-column: 1; 
    font-size: 24px; 
    align-self: center; 
    text-align: center; 
}

.section-2 div {
    margin-top: 20px; 
    /* grid-column: 1;  */
    /* border: 4px solid rgba(0, 0, 0, .02);  */
    padding: 25px 35px; 
}

.box-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 50em) {
    .section-2 {
        margin: 165px 18% 0% 18%; 
        grid-template-columns: 1fr 1fr; 
    }
    .section-2 h2 {
        grid-column: 1; 
        grid-row: 2; 
        font-size: 3vw; 
        align-self: center; 
        text-align: left; 
    }
    .section-2 div {
        margin-top: 85px; 
        grid-column: 2; 
        /* border: 4px solid rgba(0, 0, 0, .02);  */
        padding: 25px 35px; 
    }
    .box-1 {
        margin-left: 25px; 
        margin-right: 125px; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .box-2 {
        margin-left: 75px; 
        margin-right: 75px; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .box-3 {
        margin-left: 125px; 
        /* margin-right: 75px;  */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
}

/* SECTION 3 */

.section-3 {
    margin: 100px 10% 0% 10%; 
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: .5fr 1fr .2fr 1fr .2fr 1fr .2fr; 
}

.section-3 h2 {
    font-size: 24px; 
    text-align: center; 
    align-self: center; 
}
.section-3 div {
    grid-column: 1 / 2; 
    grid-row: 1; 
    justify-self: center; 
    text-align: center; 
}

.section-3 p {
    margin-top: 10px; 
    justify-self: center; 
    text-align: center; 
}

.section-3 .img-left {
    margin-top: 0px; 
    grid-row: 2;
    /* padding: 50px;  */
}
.section-3 .img-mid {
    margin-top: 0px; 
    grid-row: 4;
    /* padding: 50px;  */
}
.section-3 .img-right {
    margin-top: 0px; 
    grid-row: 6;
    /* padding: 50px;  */
}

@media (min-width: 50em) {
    .section-3 {
        margin: 200px 18% 0% 18%; 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 2fr .2fr; 
    }
    .section-3 h2 {
        font-size: 3vw; 
        text-align: left; 
    }
    .section-3 div {
        grid-column: 1 / 4; 
        grid-row: 1; 
        justify-self: center; 
        text-align: center; 
    }
    .section-3 p {
        margin-top: 15px; 
        justify-self: center; 
        text-align: center; 
    }
    .section-3 .img-left {
        margin-top: 100px; 
        grid-column: 1; 
        grid-row: 2;
    }
    .section-3 .img-mid {
        margin-top: 100px; 
        grid-column: 2; 
        grid-row: 2;
    }
    .section-3 .img-right {
        margin-top: 100px; 
        grid-column: 3; 
        grid-row: 2;
    }
}

/* SECTION 4 */

.section-4 {
    margin-top: 100px; 
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    padding: 0px 10% 0px 10%;  
    flex-direction: column; 
    justify-self: center; 
    text-align: center; 
}

.section-4 h2 {
    font-size: 24px; 
}

.section-4 p {
    margin: 10px 0px 10px 0px; 
}

.section-4 button {
    background-color: #00A3FA;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px; 
}

@media (min-width: 50em) {
    .section-4 {
        margin-top: 200px; 
        display: flex; 
        justify-content: space-evenly;
        align-items: center; 
        padding: 0px 300px 0px 300px; 
        flex-direction: row; 
        justify-self: left; 
        text-align: left; 

    }
    .section-4 h2 {
        font-size: 2vw; 
    }

    .section-4 p {
        margin: 0px 0px 0px 0px; 
    }
}

/* SECTION 5 */
.section-5 {
    margin: 100px 10% 0px 10%; 
    display: grid; 
    grid-gap: 17px; 
    grid-template-columns: 1fr; 
    grid-template-rows: .2fr 1fr 1fr 1fr; 
}

.section-5 h2 {
    grid-column: 1; 
    justify-self: center; 
    font-size: 24px; 
}

.section-5 img {
    margin-top: 17px; 
}

.flx-btn {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.flx-btn button {
    margin: 80px 0px 12px 0px; 
    background-color: #00A3FA;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    /* margin: 24px 250px 12px 0px; */
    cursor: pointer;
    border-radius: 20px; 
}

@media (min-width: 50em) {
    .section-5 {
        margin: 200px 18% 0px 18%; 
        display: grid; 
        grid-gap: 17px; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: .2fr 1fr 1fr 1fr; 
    } 
    .section-5 h2 {
        grid-column: 1 / 4; 
        justify-self: center; 
        font-size: 3vw; 
    }
}

/* SECTION 6 */

.sec-6-flex {
    margin-top: 100px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}
.section-6 {
    margin: 30px 10% 0px 10%; 
    display: grid; 
}

.section-6 .faq {
    grid-column: 1; 
    margin: 10px;
    padding: 0px 10px;  
    /* border: 1px solid black;  */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-6 p {
    grid-column: 1; 
    padding: 0px 0px 0px 0px; 
    margin: 10px 0px 10px 0px; 
}

.sec-6-flex h2 {
    grid-column: 1 / 3; 
    justify-self: center; 
    font-size: 24px; 
}

.sec-6-flex p {
    margin-top: 10px; 
    grid-column: 1 / 3; 
    justify-self: center
}

.faq-flex {
    display: flex; 
    justify-content: space-between
}

/* DROPDOWN ARROW */

/* ▼ */

.fas {
    font-size: 30px; 
    padding-right: 20px;
    padding-top: 10px;  
    /* align-self: center;  */
    color: #00AEEF; 
    display: none; 
}

/* CHAT */

.chat {
    margin-top: 30px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.chat p {
    padding: 0px 0px 0px 0px;  
    font-size: 18px; 
}

.chat a {
    padding: 0px 0px 0px 0px; 
    color: #00A3FA; 
    text-decoration: none; 
    font-size: 18px; 
}

@media (min-width: 50em) {
    .sec-6-flex {
        margin-top: 200px; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
    }
    .section-6 {
        margin: 70px 18% 0px 18%; 
        display: grid; 
    }
    .sec-6-flex h2 {
        grid-column: 1 / 3; 
        justify-self: center; 
        font-size: 3vw; 
    }
    .fas {
        font-size: 30px; 
        padding-right: 20px;
        padding-top: 10px;  
        /* align-self: center;  */
        color: #00AEEF; 
        display: unset; 
    }
    .section-6 .faq {
        grid-column: 1; 
        margin: 0px; 
        padding: 0px; 
        /* border: none;  */
        box-shadow: none; 
    }

    hr {
        display: block;
        position: relative;
        padding: 0;
        margin: 8px auto;
        height: 0;
        width: 100%;
        max-height: 0;
        font-size: 1px;
        line-height: 0;
        clear: both;
        border: none;
        border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #ffffff;
        grid-column: 1 / 3; 
    }

    .chat {
        margin-top: 30px; 
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
    }

    .chat p {
        padding: 0px 15px 0px 0px;  
        font-size: 18px; 
    }

    .chat a {
        padding: 0px 0px 0px 15px; 
        color: #00A3FA; 
        text-decoration: none; 
        font-size: 18px; 
    }
}

/* SECTION 7 */

.section-7 {
    margin: 150px 10% 0px 10%; 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: .25fr 2fr 2fr; 
}

.section-7 h2 {
    grid-column: 1; 
    justify-self: center; 
    font-size: 24px; 
    text-align: center; 

}

.users {
    margin-top: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 20px 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 50em) {
    .section-7 {
        margin: 150px 18% 0px 18%; 
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: .25fr 2fr 2fr; 
    } 
    .section-7 h2 {
        grid-column: 1 / 3; 
        justify-self: center; 
        font-size: 3vw; 
        text-align: left; 
    } 
    .users {
        margin: 0px; 
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        padding: 50px 100px 50px 100px; 
        box-shadow: none; 

    }
}

/* SECTION 8 */

.section-8 {
    margin: 200px 10% 0px 10%; 
    display: grid;
    grid-template-columns: 1fr; 
    /* grid-template-rows: 1fr 2fr 1fr .5fr;  */
    grid-column-gap: 0%; 
}

.section-8 img {
    margin-top: 10px; 
    grid-column: 1;
    grid-row: 2; 
    width: 75%;  
    justify-self: center; 
    /* grid-row: 1 / 4;  */
}

.section-8 div {
    margin-top: 10px; 
    grid-column: 1; 
    grid-row: 3; 
}

.section-8 h2 {
    font-size: 3vw; 
    /* margin-bottom: 25px; */
    grid-column: 1; 
    grid-row: 2;  
    display: none; 
}

.section-8 .btn-get-started {
    grid-column: 1 / 3; 
    grid-row: 4; 
    align-self: center; 
    justify-self: center; 
}

.btn-get-started button {
    margin-top: 50px; 
    /* margin: 80px 0px 12px 0px;  */
    background-color: #00A3FA;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    /* margin: 24px 250px 12px 0px; */
    cursor: pointer;
    border-radius: 20px; 
}

.btn-get-started p {
    margin-top: 10px; 
    text-align: center; 
    font-size: 14px; 
}

.section-8 .sec-8-h2 {
    display: unset; 
    font-size: 24px; 
    grid-column: 1; 
    grid-row: 1; 
    text-align: center; 
}

@media (min-width: 50em) {
    .section-8 {
        margin: 200px 18% 0px 18%; 
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 2fr 1fr .5fr; 
        grid-column-gap: 10%; 
    }
    .section-8 img {
        margin-top: 0px; 
        grid-column: 1;
        grid-row: 1 / 4;
        width: 100%;  
    }   
    .section-8 div {
        margin-top: 0px; 
        grid-column: 2; 
        grid-row: 2; 
    }
    .section-8 h2 {
        font-size: 3vw; 
        /* margin-bottom: 25px;  */
        display: unset; 
    }
    .section-8 .sec-8-h2 {
        display: none; 
    }
    .btn-get-started button {
        margin-top: 0px; 
        background-color: #00A3FA;
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        /* margin: 24px 250px 12px 0px; */
        cursor: pointer;
        border-radius: 20px; 
    }
}

/* FOOTER */

.footer {
    margin: 200px 18% 75px 18%; 
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr 1fr; 
    grid-column-gap: 5%; 
}

.footer .footer-links {
    display: grid; 
    grid-template-rows: 1fr 2fr; 
    grid-row-gap: 1%; 
}
.footer-links li {
    padding: 0px 0px 5px 0px; 
    font-weight: 100; 
    font-size: 14px;
    color: #878F9D;  
    /* font-size: .95vw;  */
}

.footer p {
    color: #878F9D; 
    font-size: 14px; 
}

/* 14PX AND .95VW */
@media (min-width: 50em) {
    p {
        font-size: .95vw; 
    }
}